body{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}

#content{
    display:flex;
    flex-direction:column;
    justify-self:center;
    justify-content:space-between;
    height:90vh;
}

header{
    width:100vw;
    height:10vh;
}

nav{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vh;;
    gap:1vh;
}

nav button{
    width:clamp(390px,4rem,800px);
    height:clamp(80px,4rem,800px);
    font-size:clamp(50px,2rem,400px);
    justify-content:center;
}

.headline{
    font-size: clamp(20px,1rem,2rem);
    justify-items:center;
}

.headline img{
    height:22vh;
    width:77vw;
}

.body-content p {

    justify-content:center;
    text-align:center;
    font-size: clamp(40px,3rem,4rem);
}

.body-content{
    background-color: aqua;
    height:clamp(40vh,4rem,800px);
    width:clamp(77vw,2rem,200px);
}

.footer{
    justify-items:center;
}

.headline-stupid{
    font-size: clamp(20px,1rem,2rem);
    justify-items:center;
}

.headline-stupid img{
    height:50vh;
    width:77vw;
}

.body-content-stupid{
    height:clamp(40vh,4rem,800px);
    width:clamp(77vw,2rem,200px);
}

.body-content-stupid p {
    background-color: blueviolet;
    justify-content:center;
    text-align:center;
    font-size: clamp(40px,3rem,4rem);
}

.footer-stupid{
    background-color: blue;
    justify-items:center;
}

.footer-stupid p{
    font-size: clamp(15px,2rem,3rem);
}